{% extends 'base.html' %}
{% load static %}

{% block title %}
AWA - Home
{% endblock %}

{% block header_home %}
<div lc-helper="background" class="container-fluid py-5 mb-4 d-flex justify-content-center" style="background-image: url('{% static 'awamain/images/book_cover2.jpg' %}');
    background-position: center;
background-size:cover;
background-repeat:no-repeat">
    <div class="p-5 mb-4 lc-block col-xxl-7 col-lg-8 col-12" style=" backdrop-filter: blur(6px) saturate(102%);
    -webkit-backdrop-filter: blur(6px) saturate(102%);
    background-color: rgba(255, 255, 255, 0.45);
    border-radius: 12px;
    border: 1px solid rgba(209, 213, 219, 0.3);">
        <div class="lc-block">
            <div editable="rich">
                <h2 class="fw-bolder display-3">Amazing Wannabe Author
                    {% if user.is_authenticated %}
                    {{ user.username }}
                    {% endif %}
                </h2>
            </div>
        </div>

        <div class="lc-block col-md-8">
            <div editable="rich">
                <p class="lead">
                    Immerse yourself in a wonderful world of fantasy or memory. Write your own works to inspire others
                    and be inspired by their stories. Our motto: READ - WRITE - LOVE - REPEAT!</p>
            </div>
        </div>
        <div class="lc-block">
            {% if user.is_authenticated %}
            <a class="btn btn-dark" href="{% url 'add-book' %}" role="button">Get Started!</a>
            {% else %}
            <a class="btn btn-dark" href="{% url 'login' %}" role="button">Become part of the community</a>
            {% endif %}
        </div>

    </div>
</div>
{% endblock %}

{% block content %}


<div class="d-flex flex-wrap justify-content-center">
    {% for post in object_list %}
    <a href="{% url 'book-detail' post.pk %}">
        <div class="card m-2" style="width: 18rem; height: 100%;">
            <img src="{% if post.book_cover %}{{ post.book_cover.url }}{% else %}{% static 'awamain/images/default_book_cover_awa.jpg' %}{% endif %}"
                 class="card-img-top" alt="{{ post.title }}" style="object-fit: cover;">
            <div class="card-body">
                <h5 class="card-title">
                    <a href="{% url 'book-detail' post.pk %}" class="fw-bolder">{{ post.title }}</a>
                </h5>
                <div class="card-text">
                    by {{ post.author.first_name }} {{ post.author.last_name }}<br>
                    Published: {{ post.pub_date }} - {{ post.total_likes }} like(s)
                    <hr>
                    <div class="scrollable-description" style="max-height: 100px; overflow-y: auto;">
                        {{ post.description | safe }}
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <small class="text-muted">
                    Category:
                    {% for category in post.category.all %}
                    <a href="{% url 'category' category.id %}" class="btn btn-sm btn-secondary"
                       style="margin: 5px;">{{ category.name }}</a>
                    {% endfor %}
                </small>
            </div>
        </div>
    </a>
    {% endfor %}
</div>
{% endblock %}





